<div class="pad-cart">
  <div class="bg-cart" style="color: black;">

    <div class="row">
      <div class="col-xs-offset-1 col-xs-6">
        <h4><%= image.name %></h4>
        <h4><span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
      </div>
      <div class="col-xs-4">
        
        <%= form_for order_item, remote: true do |f| %>
          <div class="row">
              <%# f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
              <%= f.hidden_field :image_id, value: image.id %>
            <div class="text-right">
              <div class="btn-group">
                <%# f.submit "Update Quantity", class: "btn btn-primary" %>
                <%= link_to order_item, { data: { confirm: "Are you sure you wish to remove the image '#{order_item.image.name}' from your cart?" }, method: :delete, remote: true} do%>
                  <i class="fa fa-times fa-2x"></i>
                <%end%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
</div>