<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control1" %>
  </div> 
  <div>
    <%= f.label :data %><br>
    <%= f.file_field :data %>
  </div>
  <div>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
