<body class="bg-img">
  <div id="content" class="container">
    <div id="content-header">
      <div id="price-container">
      <%if @image.active == false %>
      <%else%>
        <span class="glyphicon glyphicon-tag"></span><span class="price">$<%=@image.price.round%></span>
      <%end%>
      </div>
      <%= image_tag(url_for(:controller => 'images', :action => '_show_image', :id => @image.id), id: "content-header-img", alt: "" ) %>
    </div>

<%if @image.active == false %>
  <section id="content-details" class="row clearfix center" style="color: black;">
    <i class="fa fa-copyright">Image owned by <%= mail_to @image.e_mail%></i>
  </section>
<%else%>
  <section id="content-details" class="row clearfix" style="color: black;">
    <article id="details-article" class="col-sm-8">
      <h1 id="article-title"><%= @image.name%></h1>
      <small><em><%=@image.city%></em></small>

  	  <p><%= @image.description1%></p>

      <p><%= @image.description2%></p>

      <p><strong>Tags:</strong></p>

        <ul class="no-indent">
        <% @image.tags.each do |tag|%>
    	    <li><%= tag.name%></li>
        <%end%>
        </ul>

    </article>
    <aside id="details-aside" class="col-sm-4">
      <div>
        <div class="input-group">
          <div class="input-group-btn">
              <%= link_to "Add to Cart", root_path, class: "btn btn-success btn-lg btn-block", id: "btn-buy" %>
          </div>
        </div>
      </div>

  	  <ul id="details-infobox" class="list-group">
  	    <li class="list-group-item active clearfix">Own by</li>
  	    <li class="list-group-item"><%= @image.e_mail%></li>
  	    <li class="list-group-item clearfix">
  	      <span class="pull-left content-qualifier"><i class="fa fa-copyright"></i><strong>Copyright</strong></span>
          <%if @image.active == false%>
              <span class="pull-right text-danger">Sold</span> 
          <%else%>
              <span class="pull-right text-success">Available</span> 
          <%end%>
  	    </li>
  	  </ul>
  	</aside>
  </section>
<%end%>
  </div>
</body>