<!DOCTYPE html>
<html>
	<head>
	  <title>MyPic</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="bg-index">
	  <div class="container">
	    <div class="row">
	      <div class="col-xs-12 col-sm-4">
	        <h1><%= link_to "PicMe", root_path %></h1>
			<%= link_to images_path do%>
				<i class="fa fa-search fa-2x"></i>
			<%end%>	
			<%if user_signed_in?%>
				<%= link_to new_image_path do%>
					<i class="fa fa-plus-square"></i>
				<%end%>
			<%else%> 
				<%= link_to admin_root_path do%>
					<i class="fa fa-plus-square"></i>
				<%end%>	
			<%end%>	       
	      </div>
	      <div class="col-xs-6 col-sm-4" id="search_box">
	      	<%= form_tag search_images_path, method: :get, class: "", role: "search" do %>
				<%= text_field_tag :search, params[:search], class: "resp1" %>
				<button>
					<i class="fa fa-search fa-1x"></i>
				</button>
			<% end %>			
	      </div>
	      <div class="col-xs-6 col-sm-4 text-right">
	        <h1 class="cart-text">sign </h1>	
	      </div>
	      <p class="notice"><%= notice %></p>
       	  <p class="alert"><%= alert %></p>
	    </div>
	    <hr>
	    <%= yield %>
	  </div>
	</body>
</html>
