<p class="text-muted">In your account seetings, you can decide to stop or activate the sell of a photograph at any time, edit your selling price, photograph descriptions, tags...</p>
<p class="text-danger">Please note that after signing up to MyPic; you must connect your MyPic account to <a href="https://stripe.com">Stripe</a> (free) with one click in your account settings. Failling to do so, you will not be able to proceed payment and to get paid as others will not be able to buy your photograph copyright ownership.</p>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

